.header{
    height: 32vw;
    
    margin: 30px auto;
    background: url('/banner.jpg') no-repeat;
    position: relative;
    background-size: cover ;
    background-clip:content-box;
   
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width:50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color:gold;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    columns: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: rgb(77, 29, 29);
    font-size: max(1vw,13px);
    border-radius: 50px;

}